<nav class="navbar navbar-default bg-faded">
    <div class="row">
        <div class="col-md-1">
            <a class="navbar-brand" href="#" style="font-weight: bold;">SynCoder</a>
        </div>
        <div class="col-md-6">
            <h2 *ngIf="isInProject" #stuff (keyup.enter)="onChange(stuff)" class="title" contenteditable="true">{{ projectName }}</h2>
        </div>
        <div class="col-md-5">
            <div class="row navbar-toggler-right right">
                <button *ngIf="isInProject" (click)="compile()" id="compile-btn" class="btn btn-primary">Compile</button>
                <div *ngIf="isInProject">
                    <button *ngFor="let user of users" [style.background]="calcColor(user)" type="button" class="btn btn-default btn-circle btn-xl person">{{shortenName(user)}}</button>
                </div>
                <button [style.background]="calcColor(loggedInUser.username)" class="btn btn-default btn-circle btn-xl">{{shortenName(loggedInUser.username)}}</button>
            </div>
        </div>
    </div>
</nav>